<mat-toolbar color="primary" class="navbar highlighter-bottom">
    <div class="container">
        <span class="logo" routerLink="/">Tennyson Love</span>
        <span class="spacer"></span>
        <div class="nav-links">
            <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a mat-button routerLink="/projects" routerLinkActive="active">Projects</a>
            <a mat-button routerLink="/about" routerLinkActive="active">About</a>
            <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
</mat-toolbar>
